body {
    background-color: gainsboro;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}

a:hover {
    font-size: larger;
    cursor: pointer;
}
